<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'main:home' %}">
                            <span data-feather="home" class="align-text-bottom"></span>
                            Главная страница
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'smm:mail_list' %}">
                            <span data-feather="file" class="align-text-bottom"></span>
                            Рассылки
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'smm:client_list' %}">
                            <span data-feather="users" class="align-text-bottom"></span>
                            Клиенты
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'smm:message_list' %}">
                            <span data-feather="file-text" class="align-text-bottom"></span>
                            Сообщения
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'smm:mail_attempt_list' %}">
                            <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                            Отчеты
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:blog_list' %}">
                            <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                            Блог
                        </a>
                    </li>
                    {% if is_manager %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:user_list' %}">
                                <span data-feather="users" class="align-text-bottom"></span>
                                Список пользователей
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>
