{% extends 'main/base.html' %}

{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">

        <form method="post" enctype="multipart/form-data" class="row">
            <div class="col-6">
                <div class="card">

                    <div class="card-header">
                        {% if object %}
                            <h3>Редактирование клиента</h3>
                        {% else %}
                            <h3>Добавление нового клиента</h3>
                        {% endif %}
                    </div>

                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-success">
                            {% if object %}
                                Сохранить
                            {% else %}
                                Добавить
                            {% endif %}
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </main>

{% endblock %}