{% extends 'main/base.html' %}

{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">

        <form method="post" enctype="multipart/form-data" class="row">
            <div class="col-4">
                <div class="card">

                    <div class="card-header">
                        {% if object %}
                            <h3>{% if is_read_only %}Просмотр рассылки{% else %}Редактирование рассылки{% endif %}</h3>
                        {% else %}
                            <h3>Добавление новой рассылки</h3>
                        {% endif %}
                    </div>

                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>

                    <div class="card-footer">
                        {% if not is_read_only %}
                            <button type="submit" class="btn btn-outline-success">
                                {% if object %}
                                    Сохранить
                                {% else %}
                                    Добавить
                                {% endif %}
                            </button>
                        {% else %}
                            <a href="{% url 'smm:mail_list' %}" class="btn btn-outline-secondary">Назад</a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </form>
    </main>
{% endblock %}
